.button {
 	-fx-background-color:
        rgba(0,0,0,0.08),
        linear-gradient(#5a61af, #51536d),
        linear-gradient(#e4fbff 0%,#cee6fb 10%, #a5d3fb 50%, #88c6fb 51%, #d5faff 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
  
    -fx-text-fill: #242d35;
    -fx-font-size: 14px;  
}

.button:hover {
 	-fx-background-color:
        rgba(0,0,0,0.08),
        linear-gradient(#5a61af, #51536d),
        linear-gradient(#e4fbff 0%,#cee6fb 10%, #a5d3fb 50%, #88c6fb 51%, #d5faff 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
  	-fx-font-weight: bold;
    -fx-text-fill: #242d35;
    -fx-font-size: 17px;  
}

.header {
   -fx-text-fill: #566e82;
   -fx-font-size: 19px;  
   -fx-font-weight: bold;
}

.boldText {
   -fx-font-size: 1.1em;  
   -fx-font-weight: bold;
}